body {
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: @sizeLg;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.gap-12 {
  gap: 12px;
}

.jc-c {
  display: flex;
  justify-content: center;
}

.jc-sb {
  display: flex;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  color: @colorMain;
}

b {
  color: @colorMain;
}

.mb-6 {
  margin-bottom: 6px;
}

.el-collapse-item__header {
  height: auto !important;
  line-height: 20px !important;
  padding: 10px 0 !important;
  &.is-active {
    color: @colorMain;
  }
}

.fd-col-mobile {
  justify-content: center;

  @media screen and (max-width: @sizeMd) {
    flex-direction: column;
  }
}

.fd-col-mobile-2 {
  justify-content: center;

  @media screen and (max-width: @sizeMd) {
    flex-direction: column-reverse;
  }
}


.ta-c {
  margin-top: 40px;
  text-align: center;
  @media screen and (max-width: @sizeMd) {
    margin-top: 0;
  }
}

.sm-m {
  @media screen and (max-width: @sizeMd) {
    display: none;
  }
}

.fs-20 {
  font-size: 20px;
}
